body {
    background-color: #000;
    color: #aaa;
    font-family: consolas, monospace;
}

/* So links in the main page are not too dark. */
a {
    color: #aaaaff;
    font-family: consolas, monospace;
}
a:link    { color: #aaaaff; }
a:visited { color: #aaaaff; }
a:hover   { color: #ccaaff; }
a:active  { color: #aaaaff; }


